.paginaprincipal {
    width: 100%;
    height: 3496px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: var(--dl-color-gray-white);
  }
  .frame04best-seller {
    top: 2641px;
    left: 0px;
    width: 100%;
    height: 743px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .b-g {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 743px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(238, 221, 204, 1);
  }
  .rectangle133 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 743px;
    position: absolute;
    border-color: transparent;
  }
  .vector {
    top: 410px;
    left: 0px;
    width: 1439px;
    height: 380px;
    opacity: 0.34;
    position: absolute;
  }
  .card-best-seller {
    top: 102px;
    left: 539px;
    width: 363px;
    height: 538px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .rectangle134 {
    top: 361px;
    left: 0px;
    width: 363px;
    height: 177px;
    position: absolute;
    border-color: transparent;
    border-radius: 6px;
  }
  .group65 {
    top: 423px;
    left: 39px;
    width: 81px;
    height: 12px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .vector01 {
    top: 0px;
    left: 0px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector02 {
    top: 0px;
    left: 17px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector03 {
    top: 0px;
    left: 34px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector04 {
    top: 0px;
    left: 51px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector05 {
    top: 0px;
    left: 68px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .text {
    top: 480px;
    left: 39px;
    color: var(--dl-color-color_accent-red);
    height: auto;
    opacity: 0.20;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: line-through;
  }
  .text02 {
    top: 480px;
    left: 90px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    opacity: 0.90;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text04 {
    top: 449px;
    left: 39px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .image {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 387px;
    position: absolute;
  }
  .card-best-seller1 {
    top: 102px;
    left: 927px;
    width: 363px;
    height: 538px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .rectangle1341 {
    top: 361px;
    left: 0px;
    width: 363px;
    height: 177px;
    position: absolute;
    border-color: transparent;
    border-radius: 6px;
  }
  .group651 {
    top: 423px;
    left: 39px;
    width: 81px;
    height: 12px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .vector06 {
    top: 0px;
    left: 0px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector07 {
    top: 0px;
    left: 17px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector08 {
    top: 0px;
    left: 34px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector09 {
    top: 0px;
    left: 51px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector10 {
    top: 0px;
    left: 68px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .text06 {
    top: 480px;
    left: 39px;
    color: var(--dl-color-color_accent-red);
    height: auto;
    opacity: 0.20;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: line-through;
  }
  .text08 {
    top: 480px;
    left: 90px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    opacity: 0.90;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text10 {
    top: 449px;
    left: 39px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .image1 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 387px;
    position: absolute;
  }
  .card-best-seller2 {
    top: 102px;
    left: 1315px;
    width: 363px;
    height: 538px;
    display: flex;
    opacity: 0.50;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .rectangle1342 {
    top: 361px;
    left: 0px;
    width: 363px;
    height: 177px;
    position: absolute;
    border-color: transparent;
    border-radius: 6px;
  }
  .group652 {
    top: 423px;
    left: 39px;
    width: 81px;
    height: 12px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .vector11 {
    top: 0px;
    left: 0px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector12 {
    top: 0px;
    left: 17px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector13 {
    top: 0px;
    left: 34px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector14 {
    top: 0px;
    left: 51px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .vector15 {
    top: 0px;
    left: 68px;
    width: 13px;
    height: 12px;
    position: absolute;
  }
  .text12 {
    top: 480px;
    left: 39px;
    color: var(--dl-color-color_accent-red);
    height: auto;
    opacity: 0.20;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: line-through;
  }
  .text14 {
    top: 480px;
    left: 90px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    opacity: 0.90;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text16 {
    top: 449px;
    left: 39px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .image2 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 387px;
    position: absolute;
  }
  .indicator {
    top: 668px;
    left: 539px;
    width: 97px;
    height: 13px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .ellipse19 {
    top: 0px;
    left: 0px;
    width: 13px;
    height: 13px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .ellipse20 {
    top: 0px;
    left: 21px;
    width: 13px;
    height: 13px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .ellipse21 {
    top: 0px;
    left: 42px;
    width: 13px;
    height: 13px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .ellipse22 {
    top: 0px;
    left: 63px;
    width: 13px;
    height: 13px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .ellipse23 {
    top: 0px;
    left: 84px;
    width: 13px;
    height: 13px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .c-t-a {
    top: 453px;
    left: 152px;
    width: 193px;
    height: 64px;
    display: flex;
    padding: 13px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
  }
  .text18 {
    color: var(--dl-color-gray-white);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text20 {
    top: 290px;
    left: 151px;
    color: var(--dl-color-gray-white);
    width: 304px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text22 {
    top: 133px;
    left: 151px;
    color: var(--dl-color-gray-white);
    width: 355px;
    height: auto;
    position: absolute;
    font-size: 52px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame03about-us {
    top: 1818px;
    left: 107px;
    width: 1275px;
    height: 662px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle143 {
    top: 0px;
    left: 0px;
    width: 530px;
    height: 662px;
    position: absolute;
  }
  .stats {
    top: 489px;
    left: 530px;
    width: 745px;
    height: 173px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .rectangle147 {
    top: 55px;
    left: 40.324764251708984px;
    width: 664px;
    height: 118px;
    opacity: 0.12;
    position: absolute;
    border-color: transparent;
  }
  .group57 {
    top: 32px;
    left: 57.46278762817383px;
    width: 125.00676727294922px;
    height: 102px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text24 {
    left: 19.154281616210938px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 90px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: 78px;
    font-stretch: normal;
    text-decoration: none;
  }
  .text26 {
    top: 70px;
    left: 0.000003634028189480887px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 125px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .group58 {
    top: 32px;
    left: 308.48443603515625px;
    width: 117.94993591308594px;
    height: 102px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text28 {
    top: 70px;
    left: 7.056897163391113px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 103px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text30 {
    color: var(--dl-color-color_primary-darkbrown);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: 78px;
    font-stretch: normal;
    text-decoration: none;
  }
  .group59 {
    top: 32px;
    left: 557.4898681640625px;
    width: 111.90121459960938px;
    height: 102px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text32 {
    top: 70px;
    left: 3.0243401527404785px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text34 {
    color: var(--dl-color-color_primary-darkbrown);
    width: 112px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: 78px;
    font-stretch: normal;
    text-decoration: none;
  }
  .line44 {
    top: 55px;
    left: 241.94857788085938px;
    width: 56px;
    height: 0px;
    opacity: 0.12;
    position: absolute;
  }
  .line45 {
    top: 55px;
    left: 491.96209716796875px;
    width: 56px;
    height: 0px;
    opacity: 0.12;
    position: absolute;
  }
  .text36 {
    top: 98px;
    left: 624px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 446px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame02new-collection {
    top: 999px;
    left: 151px;
    width: 1141px;
    height: 600px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text38 {
    top: 100px;
    left: 80px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 978px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .card-new-collection {
    top: 183px;
    left: 388px;
    width: 363px;
    height: 417px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .image3 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 417px;
    position: absolute;
    border-color: transparent;
  }
  .rectangle130 {
    top: 335px;
    left: 23px;
    width: 317px;
    height: 60px;
    position: absolute;
    border-color: transparent;
  }
  .text40 {
    top: 353px;
    left: 139px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .card-new-collection1 {
    top: 183px;
    left: 776px;
    width: 365px;
    height: 417px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-size: cover;
    background-image: url("/playground_assets/92c4d302-8071-4df1-9dbe-d8e53219052d-on3f-500h.undefined");
  }
  .image4 {
    top: 0px;
    left: 0px;
    width: 365px;
    height: 417px;
    position: absolute;
    border-color: transparent;
  }
  .rectangle1301 {
    top: 335px;
    left: 23.12672233581543px;
    width: 319px;
    height: 60px;
    position: absolute;
    border-color: transparent;
  }
  .text42 {
    top: 353px;
    left: 101.67768859863281px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .card-new-collection2 {
    top: 183px;
    left: 0px;
    width: 363px;
    height: 417px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .image5 {
    top: 0px;
    left: 0px;
    width: 363px;
    height: 417px;
    position: absolute;
    border-color: transparent;
  }
  .rectangle1302 {
    top: 335px;
    left: 23px;
    width: 317px;
    height: 60px;
    position: absolute;
    border-color: transparent;
  }
  .text44 {
    top: 353px;
    left: 118px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text46 {
    left: 310px;
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    position: absolute;
    font-size: 68px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame01header {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .b-g1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(252, 251, 233, 1);
  }
  .rectangle106 {
    top: 504px;
    left: 1657px;
    width: 531px;
    height: 552px;
    position: absolute;
  }
  .rectangle40 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .rectangle145 {
    top: 0px;
    left: 1015px;
    width: 425px;
    height: 529px;
    opacity: 0.34;
    position: absolute;
    border-color: transparent;
  }
  .rectangle146 {
    top: 651px;
    left: -51px;
    width: 263px;
    height: 249px;
    opacity: 0.34;
    position: absolute;
    border-color: transparent;
  }
  .vector16 {
    top: 516px;
    left: 1px;
    width: 1439px;
    height: 380px;
    opacity: 0.60;
    position: absolute;
  }
  .vector17 {
    top: 242px;
    left: -33px;
    width: 104px;
    height: 84px;
    position: absolute;
  }
  .hero-image {
    top: 188px;
    left: 772px;
    width: 653px;
    height: 600px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .image6 {
    top: 0px;
    left: 0px;
    width: 653px;
    height: 600px;
    position: absolute;
  }
  .headline {
    top: 242px;
    left: 151px;
    width: 530px;
    height: 499px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .c-t-a1 {
    top: 429px;
    left: 0px;
    width: 223px;
    height: 70px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle105 {
    top: 35px;
    left: 20px;
    width: 186px;
    height: 35px;
    opacity: 0.90;
    position: absolute;
    border-color: transparent;
  }
  .frame31 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 64px;
    display: flex;
    padding: 24px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 2px;
    justify-content: center;
    background-color: var(--dl-color-color_primary-darkbrown);
  }
  .text48 {
    color: var(--dl-color-gray-white);
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Lato;
    font-weight: 900;
    line-height: 32px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text50 {
    top: 265px;
    left: 2px;
    color: var(--dl-color-color_primary-darkbrown);
    width: 462px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    line-height: 179.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text52 {
    color: var(--dl-color-color_primary-darkbrown);
    width: 530px;
    height: auto;
    position: absolute;
    font-size: 78px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Frank Ruhl Libre;
    font-weight: 700;
    line-height: 78px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame00header {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 163px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .b-g2 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 163px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(252, 251, 233, 1);
  }
  .rectangle1061 {
    top: 91.27999877929688px;
    left: 1657px;
    width: 531px;
    height: 100px;
    position: absolute;
  }
  .rectangle401 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 163px;
    position: absolute;
    border-color: rgba(238, 221, 204, 1);
    border-style: solid;
    border-width: 1px;
  }
  .rectangle1451 {
    top: 0px;
    left: 1015px;
    width: 425px;
    height: 188px;
    opacity: 0.34;
    position: absolute;
    border-color: transparent;
  }
  .login {
    top: 53px;
    left: 1200px;
    width: 108px;
    height: 41px;
    display: flex;
    padding: 13px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(52, 37, 31, 1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
  }
  .text54 {
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .cart {
    top: 53px;
    left: 1106.25px;
    width: 35.75px;
    height: 35.166587829589844px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .group49 {
    top: 6.833251953125px;
    left: 0px;
    width: 25.5px;
    height: 28.33333396911621px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .vector18 {
    top: 0px;
    left: 0px;
    width: 25px;
    height: 28px;
    position: absolute;
  }
  .vector19 {
    top: 5.666748046875px;
    left: 0px;
    width: 25px;
    height: 0px;
    position: absolute;
  }
  .vector20 {
    top: 11.33349609375px;
    left: 7.083251953125px;
    width: 11px;
    height: 6px;
    position: absolute;
  }
  .ellipse18 {
    top: 0px;
    left: 19.75px;
    width: 16px;
    height: 16px;
    position: absolute;
    border-color: transparent;
  }
  .s-v-g1 {
    top: 5px;
    left: 25.75px;
    width: 4px;
    height: 6px;
    position: absolute;
    box-sizing: content-box;
  }
  .menu {
    top: 65px;
    left: 376px;
    width: 611px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .text56 {
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 45px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text58 {
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 45px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text60 {
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 45px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text62 {
    color: var(--dl-color-color_primary-darkbrown);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text64 {
    top: 36px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lateef;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .line46 {
    top: 1732px;
    left: 91px;
    width: 1258px;
    height: 0px;
    position: absolute;
  }
  .frame09footer {
    top: 3384px;
    left: 1px;
    width: 1440px;
    height: 112px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(64, 53, 48, 1);
  }
  .text66 {
    top: 49px;
    left: 557px;
    color: var(--dl-color-gray-white);
    width: 327px;
    height: auto;
    opacity: 0.67;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 32px;
    font-stretch: normal;
    text-decoration: none;
  }
  